<div id="shop-header" class="col d-flex flex-column align-items-center text-uppercase p-3">
    <div class="section-title font-staatliches">Shop</div>
</div>

<div class="col d-flex flex-column align-items-center">
    <%= image_tag "patron_decorativo.png", class: "img-fluid" %>
</div>

<section id="main-products" class="pt-5 pb-5">
    <div id="main-products-container" class="container pt-2 pb-2">
        <div class="row p-1">
            <div class="col-12 col-md-6 col-lg-6 co d-flex flex-column gap-3">
                <div>
                    <div class="position-relative overflow-hidden shadow-sm main-product"
                        style="background-image: url('<%= image_path("products/img11.jpeg") %>');">
                        <%= render 'shop/product_controls', product: @first_product %>
                    </div>
                </div>
                <div>
                    <div class="position-relative overflow-hidden shadow-sm main-product"
                        style="background-image: url('<%= image_path("products/img7.png") %>');">
                        <%= render 'shop/product_controls', product: @second_product %>
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column gap-3">
                <div>
                    <div class="position-relative overflow-hidden shadow-sm main-product-large"
                        style="background-image: url('<%= image_path("products/img10.png") %>');">
                        <%= render 'shop/product_controls', product: @third_product %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="shop-header" class="col d-flex flex-column align-items-left text-uppercase p-3">
    <div class="section-title2 font-staatliches px-5">Other products we offer</div>
</div>

<section id="other-products" class="pt-3 pb-5">
    <div class="container py-5">  
        <div class="masonry-grid">
            
            <div class="masonry-item">
                <div class="position-relative overflow-hidden shadow-sm"
                    style="background-image: url('<%= image_path("products/img10.png") %>'); 
                            min-height: 450px; /* Simulación de alturas diferentes */
                            background-size: cover; background-position: center;">
                    <%= render 'shop/product_controls', product: @fourth_product %>
                </div>
            </div>

            <div class="masonry-item">
                <div class="position-relative overflow-hidden shadow-sm"
                    style="background-image: url('<%= image_path("products/img9.png") %>'); 
                            min-height: 350px; /* Simulación de alturas diferentes */
                            background-size: cover; background-position: center;">
                    <%= render 'shop/product_controls', product: @fifth_product %>
                </div>
            </div>

            <div class="masonry-item">
                <div class="position-relative overflow-hidden shadow-sm"
                    style="background-image: url('<%= image_path("products/img3.png") %>'); 
                            min-height: 450px; /* Simulación de alturas diferentes */
                            background-size: cover; background-position: center;">
                    <%= render 'shop/product_controls', product: @sixth_product %>
                </div>
            </div>

            <div class="masonry-item">
                <div class="position-relative overflow-hidden shadow-sm"
                    style="background-image: url('<%= image_path("products/img13.jpg") %>'); 
                            min-height: 450px; /* Simulación de alturas diferentes */
                            background-size: cover; background-position: center;">
                    <%= render 'shop/product_controls', product: @seventh_product %>
                </div>
            </div>

            <div class="masonry-item">
                <div class="position-relative overflow-hidden shadow-sm"
                    style="background-image: url('<%= image_path("products/img6.png") %>'); 
                            min-height: 250px; /* Simulación de alturas diferentes */
                            background-size: cover; background-position: center;">
                    <%= render 'shop/product_controls', product: @eigth_product %>
                </div>
            </div>

            <div class="masonry-item">
                <div class="position-relative overflow-hidden shadow-sm"
                    style="background-image: url('<%= image_path("products/img22.jpg") %>'); 
                            min-height: 450px; /* Simulación de alturas diferentes */
                            background-size: cover; background-position: center;">
                    <%= render 'shop/product_controls', product: @ninth_product %>
                </div>
            </div>

        </div>
    </div>
</section>