<div class="container">
    <p style="color: green"><%= notice %></p>

    <h1>Cart</h1>

    <% @cart.cart_products.each do |cart_product| %>
        Name: <%= cart_product.product.name %> - Quantity: <%= cart_product.quantity %> - Price: <%= cart_product.product_price * cart_product.quantity %><br>
    <% end %>

    <p>
        Total: <%= @cart.cart_total %>
    </p>

    <p>
        <%= link_to "Confirm order", "/confirm_order" %>
    </p>
</div>