<%# 1. Actualiza la tabla de totales (tfoot) %>
<%= turbo_stream.update "order_summary_totals" do %>
    <div class="d-flex justify-content-between align-items-center" id="cart_total_row">
      <span class="fs-4 font-staatliches">TOTAL (INCLUDING DELIVERY):</span>
      <span class="fs-3 fw-bold text-dark font-staatliches"><%= number_to_currency(@cart.cart_total + @fee) %></span>
    </div>
  
<% end %>
<%# 2. Actualiza el mensaje informativo debajo del título de Shipping %>
<%= turbo_stream.update "fee_message" do %>
  <div class="alert py-2 animate__animated animate__fadeIn">
    <small class="text-uppercase fw-bold">Shipping Method:</small> <%= @method_name %><br>
    <small class="text-uppercase fw-bold">Cost:</small> <%= number_to_currency(@fee) %>
  </div>
<% end %>

<%= turbo_stream.update "delivery_cost" do %>
  <%= hidden_field_tag :delivery_price, @fee %>
<% end %>


<%= turbo_stream.append "fee_message" do %>
  <script>
    (function() {
      const btn = document.getElementById('pay-button');
      if (btn) {
        btn.disabled = false;
        btn.classList.replace('btn-secondary', 'btn-primary');

        const total_amount = "<%= number_to_currency(@cart.cart_total + @fee) %>";
        btn.innerText = `Pay Now (${total_amount})`;
      }
    })();
  </script>
<% end %>
