<nav id="navigation-bar" class="container-fluid bg-light shadow-sm">
    <div class="row p-4 align-items-center">
        <div id="navigation-logo" class="col-12 col-md-4 col-lg-2 d-flex justify-content-center justify-content-md-start align-items-center mb-3 mb-md-0">
            <%= link_to root_path do %>
                <%= image_tag "logo_black.png", class: "img-fluid", alt: "IskayFood Logo", style: "max-height: 90px;" %>
            <% end %>
        </div>

        <div id="navigation-links" class="col-12 col-lg d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center align-content-center gap-2 gap-lg-4 text-uppercase mt-3 mt-lg-0">
    
            <%# ABOUT US - Pequeño en móvil, h3 en Desktop %>
            <%= link_to "ABOUT US", "/about", class: "text-decoration-none font-staatliches mb-0 fs-4 fs-lg-3" %>

            <%# SERVICES DROPDOWN %>
            <div class="dropdown custom-dropdown">
                <a class="nav-link-custom font-staatliches mb-0 dropdown-toggle fs-4 fs-lg-3" href="#" role="button" data-bs-toggle="dropdown">
                    SERVICES
                </a>
                <ul class="dropdown-menu border-0 shadow text-center fs-5">
                    <%# Catering con sub-menú (Asado y Salteña) %>
                    <li><a class="dropdown-item" href="#">CATERING</a></li>
                    <li><a class="dropdown-item" href="#">SANDWICH SHOP</a></li>
                    <li><a class="dropdown-item" href="#">BAR</a></li>
                </ul>
            </div>

            <%# PRODUCTS DROPDOWN %>
            <div class="dropdown custom-dropdown">
                <a class="nav-link-custom font-staatliches mb-0 dropdown-toggle fs-4 fs-lg-3" href="#" role="button" data-bs-toggle="dropdown">
                    PRODUCTS
                </a>
                <ul class="dropdown-menu border-0 shadow text-center text-lg-start">
                    <li><a class="dropdown-item" href="#">SALTEÑA</a></li>
                    <li><a class="dropdown-item" href="#">SINGANI</a></li>
                    <li><a class="dropdown-item" href="#">AMAZÓNICA</a></li>
                    <li><a class="dropdown-item" href="#">EMPANADAS</a></li>
                    <li><a class="dropdown-item" href="#">PRALINES</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item fw-bold" href="/shop/index">SHOP</a></li>
                </ul>
            </div>

            <%# CONTACT %>
            <%= link_to "CONTACT", "/contact", class: "text-decoration-none font-staatliches mb-0 fs-4 fs-lg-3" %>

            <%# CONTACT %>
            <%= link_to "CONTROL PANEL", control_panel_path, class: "text-decoration-none font-staatliches mb-0 fs-4 fs-lg-3" if authenticated? %>
        
            <%# SESSION %>
            <%= button_to "Log out", session_path, 
                class: "btn-link-custom font-staatliches mb-0 fs-4 fs-lg-3", 
                method: :delete if authenticated? %>

        </div>
    </div>
</nav>