<div id="<%= dom_id order %>">
  <p>
    <strong>Total:</strong>
    <%= order.total %>
  </p>

  <p>
    <strong>Customer name:</strong>
    <%= order.customer_name %>
  </p>

  <p>
    <strong>Customer shipping address:</strong>
    <%= order.customer_shipping_address %>
  </p>

  <p>
    <strong>Customer phone:</strong>
    <%= order.customer_phone %>
  </p>

  <p>
    <strong>Customer email:</strong>
    <%= order.customer_email %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

</div>
