<div class="container pt-4">
    <h1>Control Panel</h1>
    <div class="pt-3 pb-3">
        <%= link_to 'Orders', orders_path, class: 'btn btn-primary' %>
        <%= link_to 'Products', products_path, class: 'btn btn-primary' %>
        <%= link_to 'Bookings', bookings_list_path, class: 'btn btn-primary' %>
        <%= link_to 'Messages', contacts_path, class: 'btn btn-primary' %>
        <%= link_to 'Reviews', reviews_path, class: 'btn btn-primary' %>
        <%= link_to 'Stripe Dashboard', "https://dashboard.stripe.com/", class: 'btn btn-primary', target: "_blank" %>
    </div>
</div>