<div class="container my-5">
  <h2 class="mb-4 text-center">Products</h2>

  <%= link_to "Orders", orders_path, class: "btn btn-primary" %>
  <br>
  <br>
  <% if @products.any? %>
    <div class="table-responsive">
      <table class="table table-hover table-striped table-bordered align-middle">
        <thead class="table-dark">
          <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col" class="text-end">^Price</th>
            <th scope="col" class="text-center">Options</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each_with_index do |product, index| %>
            <tr>
              <th scope="row" class="text-center"><%= index + 1 %></th>
              <td><%= product.name %></td>
              <td><%= truncate(product.description, length: 70, separator: ' ') %></td>
              <td class="text-end">Bs. <%= number_to_currency(product.price, precision: 2, unit: '') %></td>
              <td class="text-center">
                <%= link_to "Edit", edit_product_path(product), class: "btn btn-warning btn-sm" %>
                
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="alert alert-info text-center" role="alert">
      No available products
    </div>
  <% end %>

  <div class="text-center mt-4">
    <%= link_to "Add new product", new_product_path, class: "btn btn-success btn-lg" %>
  </div>
</div>