<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Iskay Food" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    <nav id="navigation-bar" class="navbar container-fluid">
        <div class="row p-4">
          <div id="navigation-logo" class="col-2">
            <%= image_tag "logo_purple.png", class: "img-fluid" %>
          </div>
          <div id="navigation-links" class="col d-flex align-items-center justify-content-end gap-4">
            <%= link_to "About", products_path, class: "text-decoration-none text-dark" %>
            <%= link_to "Shop", products_path, class: "text-decoration-none text-dark" %>
            <%= link_to "Singani", products_path, class: "text-decoration-none text-dark" %>
            <%= link_to "Amazónica", products_path, class: "text-decoration-none text-dark" %>
            <%= link_to "Contact", products_path, class: "text-decoration-none text-dark" %>
          </div>
        </div>
    </nav>

    <%= yield %>
  </body>
</html>
